ul {
    cursor: pointer;
}
ul li:hover {
    border-bottom: 2px solid whitesmoke;
    transition: all 0.3s ease-in-out;
    scale: 1.1;
    text-shadow: 0px 0px 7px  #ffd900;
}
.form-select{
    background-color: #0A0F1F;
    color:#B0B0B0;
    width:120px;
    text-shadow: 0px 0px 7px  #ffd900;
    cursor:pointer;
}
.inputfield{
    width:250px;
}
.icons,li{
    color:#B0B0B0
}


